body{
    background-image: url("../img/back.jpg");
    background-attachment: fixed;
    background-size: 100%;
    font-family: Cambria, sans-serif;
    color: #ffffff;
}

nav{
    margin: auto;
}

header{
    width: 1600px;
    height: 70px;
    margin: auto;
    background-color: rgba(1, 99, 155, 0.83);
    text-align: center;
    display: flex;
    border: double black 10px;
}

h3{
    margin-top: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    width: 400px;
    list-style-type: none;
    height: content-box;
}

a{
    font-size: x-large;
    text-decoration: none;
    color: #ffffff;
}

.header_a:hover{
    font-weight: bold;
    text-decoration: underline;
    background-color: rgba(255, 122, 27, 0.84);
    border-radius: 200px;
    box-shadow: rgb(255, 122, 27) 0 0 20px 10px;
}

section{
    width: 1600px;
    margin: 10px auto;
    display: flex;
    line-height: 1.5;
    font-size: large;
    text-align: justify;
}

.blockleft, .blockright{
    width: 37%;
    height: 700px;
    background-color: rgba(15, 81, 210, 0.55);
    /*display: inline-block;*/
    margin: auto;
    padding: 0 2%;
    display: flex;
    border: solid black 3px;
}

.textinblock{
    margin: auto;
}

.blockcenter{
    width: 24%;
    height: content-box;
    display: inline-block;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.frames{
    width: 300px;
    border: double black 10px;
    box-shadow: rgb(255, 122, 27) 0 0 15px 5px;
}

.images{
    width: min-content;
    margin: auto;
}

footer{
    width: 1600px;
    height: 100px;
    background-color: rgba(1, 99, 155, 0.83);
    margin: auto;
    text-align: center;
    border: double black 10px;
}

.linklogo{
    width: 50px;
    margin: 6% auto 2% auto;
    border-radius: 50px;
}

.sign{
    font-size: xx-small;
    color: white;
    margin: 0 auto;
}

.linklogo:hover{
    background-color: rgba(255, 122, 27, 0.71);
    box-shadow: rgb(255, 122, 27) 0 0 30px 10px;
    border-radius: 50px;
}

strong{
    font-family: "Century Gothic", Cambria, sans-serif;
}